/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-weight: lighter;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*========== Custom Styles Below ==========*/
$link-color: #d71921;

@font-face {
  font-family: 'Din Condensed Bold';
  src: url("../assets/fonts/din-condensed-bold.ttf");
  src: url("../assets/fonts/din-condensed-bold.woff") format("woff"),
       url("../assets/fonts/din-condensed-bold.ttf") format("truetype"),
       url("../assets/fonts/din-condensed-bold.svg") format("svg");
}

@font-face {
  font-family: "Mocha Mattari";
  src: url("../assets/fonts/MochaMattari.eot"),
       url("../assets/fonts/MochaMattari.woff") format("woff"),
       url("../assets/fonts/MochaMattari.ttf") format("truetype"),
       url("../assets/fonts/MochaMattari.svg") format("svg");
}


html,body {
  box-sizing: border-box;
  font-family: 'Din Condensed Bold', Helvetica, Arial;
}


body {
  background: url('../assets/images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 100%;
}

 button {
  font-family: 'Mocha Mattari';
}

.bullet-icon {
  display: inline;
  font-size: 32px;
  position: relative;
  top: 0.25em;
  left: .5em;

  &-h3 {
    font-size: 34px;
    position: relative;
    top: .75em;
  }
}


/* Footer has a height: 202px */
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2.25em 0 0 0;
  background-color: black;
  text-align: center;
  color: #373839;
}

.disclaimer {
  font-size: 12px;
  position: relative;
  bottom: 2.5em;
  width: 60%;
  margin: 0 auto;
}

.disclaimer-info:not(:last-child){
  padding-bottom: 1em;
}


.footer:before {
  content: "";
  position: absolute;
  background-image: url(../assets/images/footer/footer-background-crowd.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  bottom: 6em;
  right: 0;
  z-index: -1;
}


.ribbon {
 font-size: 2em;
 width: 70%; /* how far ribbon extends */
 position: relative;
 background: #d71921;
 color: #fff;
 text-align: center;
 padding: .5em 1em; /* content padding */
 margin: 1em 0 0 3em; /* position of ribbon */
 }


.ribbon:before {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid #d71921;
 z-index: -1;
}

.ribbon:before {
 left: -11.5em;
 border-right-width: 11.5em;
}

.ribbon .ribbon-content:before {
 content: "";
 position: absolute;
 display: block;
 border-style: dashed;
 border-color: #810f14 transparent transparent transparent;
 bottom: -1em;
}

.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1.5em;
}

.ribbon:after {
 content: "";
 position: absolute;
 display: block;
 border: 1.5em solid #d71921;
 z-index: -1;
}

.ribbon:after {
 right: -3em;
 top: 0;
 border-left-width: 1.5em;
 border-right-color: transparent;
}


.ink-navigation ul.gnc-nav {
  border-bottom: 3px solid #d71921;
  margin: 0 auto;
  width: 71%;
}

.ink-navigation ul.menu.horizontal li.social {
  float: right;
  background-color: #d71921;
}

.ink-navigation ul.menu.horizontal a.icon {
  display: inline-block;
}

.ink-navigation ul.menu.horizontal a.icon:hover {
  background-color: transparent;
}

.ink-navigation ul.menu.horizontal li.social:before {
  content: "SHARE";
  color: #fff;
  font-size: 12px;
  float: left;
  position: relative;
  right: 0;
  top: 1.5em;
  left: 2em;
}

#fb-icon {
  position: relative;
  left: 1.5em;
}

/* Left side of 50/50 grid */
.ttr-sweep{
  position: relative;
  top: 1em;
  left: 8em;
  width: 75%;
}

.prize-desc {
  position: relative;
  bottom: 1em;
  left: 11em;
}

.prizes {
  list-style: none;
  margin-top: 2em;
}

.prize {
  height: auto;
  line-height: 2em;
}

.info-input {
  width: 90%;
}

.info-container {
  background: #fff;
  border: 2px solid #D3D4D4;
  opacity: .95;
  position: relative;
  top: .5em;
  width: 37%;
}


.official-rules {
  text-decoration: underline;
  color: #d71921;
}

.disclaimer-links:nth-last-of-type(-n+2){
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.optional {
  color: #d71921;
}

.control-group:nth-child(odd){
  padding-left: .5em;
}

.control-group:nth-last-of-type(-n+2){
  padding-left: .5em;
}

.ink-form .control-group {
  margin-bottom: 0;
  line-height: 1.5;
}

[alt^=captcha] {
  width: 60%;
}

.submit-btn {
  background: #d71921;
  color: #fff;
  border: 1px solid #d71921;
  position: relative;
  font-size: 44px;
  top: .5em;
}

.submit-btn:after {
 content: "";
 position: absolute;
 display: block;
 border: .8em solid #d71921;
 z-index: -1;
}

.submit-btn:after {
 right: -.80em;
 top: 0;
}

.submit-btn .submit-btn-content:after {
 left: 4.30em;
 top: 1.55em;
 border-width: .5em .5em 0 0;
}

.submit-btn .submit-btn-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: dashed;
  border-color: #810f14 transparent transparent transparent;
  bottom: -1em;
}

.submit-btn:hover {
  color: #d71921;
}

.captcha {
  position: relative;
  bottom: 1em;
}

.legend {
  position: relative;
  bottom: 1em;
}

.ink-dropdown ul.dropdown-menu li.submenu > a:after, .ink-dropdown ul.dropdown li.submenu > a:after, .ink-navigation ul.dropdown-menu li.submenu > a:after, .ink-navigation ul.dropdown li.submenu > a:after{
  content: "\f078";
  color: #d71921;
  position: relative;
  left: 6em;
}